@import url(reset.css);

* {
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

h2 {
    padding: 1rem 0rem;
}



a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #000000e3;
    color: #fff;
} 

.lay_out {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 1rem;
}

.container {
    display: flex;
}

header img {
    width: 6rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    
}

header {
    background-color: #000;
    padding: 1rem;
}

.header_left {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-size: 2rem;
}

.sideBar {
    background-color: rgb(0, 0, 0);
    width: 15%;
    height: calc(100vh - 4rem);
    padding: 1rem;
}

.playlist__name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.user-container {
    width: 70%;
}
.user-info {
    display: flex;
    gap: 1rem;
    width: 100%;
}


