<section class="auth-container register">
  <h4>Register</h4>
  {{>form-errors this}}
  <form method="post" action="register">
    {{#each inputs}}
    {{>form-input this}}
    {{/each}}
    {{>upload-file}}

      <div class="footer-container">
            <select name="role" id="role">
      {{#each role }}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
          <input type="reset" class="btn btn-tertiary" value="Clear">
          <input type="submit" class="btn btn-primary" value="Register">
      </div>

  </form>
</section>