    <header>
            <div class="header_left">
                <a href="http://localhost:8080/"><img src="/img/Spotify_Logo_CMYK_Green.png" alt="logo"></a>
                
                    
            </div>
             <a href="#" class="header_right">Logout</a>
    </header>